# SQL Murder Mystery!
Adapted By: Martin Arroyo

![Detective making connections between points](https://github.com/freestackinitiative/coop_sql_notebooks/blob/v2/assets/sleuth.png?raw=1)

**Credit**

This material was adapted from the [SQL Murder Mystery by Knight Lab](https://mystery.knightlab.com/) under [Creative Commons CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/). The SQL Murder Mystery was originally created by [Joon Park](https://twitter.com/joonparkmusic) and [Cathy He](https://twitter.com/Cathy_MeiyingHe) while they were Knight Lab fellows. See the [GitHub repository](https://github.com/NUKnightLab/sql-mysteries) for more information.

## Scenario

A crime has taken place and detectives need your help! You were given the crime scene report, but you somehow lost it. You vaguely remember that the crime was a `​murder`​ that occurred sometime on `​January 15, 2018`​ and that it took place in ​`SQL City`​. It is up to you to find out who the murderer is using just your SQL skills and resourcefulness. You are given a connection to the Police Department's database which has all of the clues you'll need to track down the killer.

Use the skills you developed in SQL 101 and 102, along with any resources you like, to solve the `SQL Murder Mystery`!

## Connect to the Police Department Database

To get started and run your queries, press play in the cell below to connect to the Police Department database.

To run queries, create a new `Code` cell and write `%%sql` at the top of it. Then you can write your queries underneath. See the example below:
```python
%%sql

SELECT *
FROM table

```

In [1]:
%%capture --no-stderr
# @title Press Play { display-mode: "form" }
# Install `teachdb` and `coop_grader`
print("Installing `teachdb` and its dependencies...")
%pip install --quiet --upgrade git+https://github.com/freestackinitiative/teachingdb.git git+https://github.com/martinmarroyo/coop_grader.git
print("Successfully installed `teachdb`")
from teachdb.teachdb import connect_teachdb
from coop_grader.sql_murder_mystery.check_suspect import check_suspect
# Set configurations for notebook & load data
con = connect_teachdb(database="sql_murder_mystery")

%sql con

## Discovering tables in the database

We start our quest to find the murderer by exploring the Police Department database. But you haven't seen the database yet, and you don't know what the tables are, so how do you know what to look for?

Thankfully, most relational database management systems have this information stored in a place where you can query it. Very often, a special schema known as the [`information_schema`](https://en.wikipedia.org/wiki/Information_schema) is used to store information about the tables and columns in your database (aka metadata.) The police department's database has an information schema, with the `tables` view showing you what tables are available, and the `columns` view which shows you all the columns for each table and their data types.

### Listing all the tables in the Police Database

#### Check the [`information_schema.tables` description](https://duckdb.org/docs/sql/information_schema.html#tables-and-views)

First, we'll look at all the tables available to us by checking the `information_schema.tables` view. We'll give you the first query to start, but from here on out you will have to come up with the remaining queries using your SQL knowledge and your resourcefulness.

Here is the query that is needed to show you the tables in the Police Department Database. Copy/Paste it into the cell below and run it to see the tables available to you:

>```sql
>SELECT *
>FROM information_schema.tables
>```

In [2]:
%%sql

SELECT *
FROM information_schema.tables

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,memory,main,crime_scene_report,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,memory,main,drivers_license,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,memory,main,facebook_event_checkin,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,memory,main,get_fit_now_check_in,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,memory,main,get_fit_now_member,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,memory,main,income,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,memory,main,interview,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,memory,main,person,BASE TABLE,None,None,None,None,None,YES,NO,None,None

### Listing all the tables and their columns in the Police Database

**Check the [`information_schema.columns` description](https://duckdb.org/docs/sql/information_schema.html#columns)**

Great! Now that you know what tables are available, it's time to find out the columns that each table has along with the data type of each column. Write a query that shows the table name, column name, and data type for each table in the Police Department database using the `information_schema.columns` view. Make sure that the output is ordered by table, then column name (ascending):

*Optional hints - try to only use them if you get **REALLY** stuck!*

<details>
<summary>Hint 1</summary>
<p>Structure your query just like we did in the previous one where we looked at `information_schema.tables`</p>
</details>

<details>
<summary>Hint 2</summary>
<p>Make sure to check the link for the information_schema.columns description! It will tell you the column names that you should use for the query. Remember, we want the table name, column name, and data type - check the description to find the appropriate names!</p>
</details>

<details>
<summary>Hint 3</summary>
<p>Don't forget to use the ORDER BY statement to order your search results. We are looking to sort both columns in ascending order, which can be specified using the ASC keyword, however, it is also the default sort order, so ASC is not necessarily required.</p>
</details>

In [3]:
%%sql

SELECT *
FROM information_schema.columns

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,numeric_precision,numeric_precision_radix,numeric_scale,datetime_precision,interval_type,interval_precision,character_set_catalog,character_set_schema,character_set_name,collation_catalog,collation_schema,collation_name,domain_catalog,domain_schema,domain_name,udt_catalog,udt_schema,udt_name,scope_catalog,scope_schema,scope_name,maximum_cardinality,dtd_identifier,is_self_referencing,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable,COLUMN_COMMENT
0,memory,main,crime_scene_report,date,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
1,memory,main,crime_scene_report,type,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
2,memory,main,crime_scene_report,description,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
3,memory,main,crime_scene_report,city,4,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
4,memory,main,drivers_license,id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
5,memory,main,drivers_license,age,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
6,memory,main,drivers_license,height,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
7,memory,main,drivers_license,eye_color,4,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
8,memory,main,drivers_license,hair_color,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
9,memory,main,drivers_license,gender,6,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
10,memory,main,drivers_license,plate_number,7,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
11,memory,main,drivers_license,car_make,8,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
12,memory,main,drivers_license,car_model,9,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
13,memory,main,facebook_event_checkin,person_id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
14,memory,main,facebook_event_checkin,event_id,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
15,memory,main,facebook_event_checkin,event_name,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
16,memory,main,facebook_event_checkin,date,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
17,memory,main,get_fit_now_check_in,membership_id,1,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
18,memory,main,get_fit_now_check_in,check_in_date,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
19,memory,main,get_fit_now_check_in,check_in_time,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
20,memory,main,get_fit_now_check_in,check_out_time,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
21,memory,main,get_fit_now_member,id,1,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
22,memory,main,get_fit_now_member,person_id,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
23,memory,main,get_fit_now_member,name,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
24,memory,main,get_fit_now_member,membership_start_date,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
25,memory,main,get_fit_now_member,membership_status,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
26,memory,main,income,ssn,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
27,memory,main,income,annual_income,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
28,memory,main,interview,person_id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
29,memory,main,interview,transcript,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
30,memory,main,person,id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
31,memory,main,person,name,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
32,memory,main,person,license_id,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
33,memory,main,person,address_number,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
34,memory,main,person,address_street_name,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
35,memory,main,person,ssn,6,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None

### Entity Relationship Diagram (Optional)

After doing some detective work and finding the tables in the Police Department database, you discover that there is an ERD! This can be really helpful in your quest to find the murderer. If you like, challenge yourself (and your SQL skills) to continue on by just querying the `information_schema` as needed. Otherwise, you can click the dropdown below to reveal the ERD to help you see the tables and relationships in the Police Department database at a glance:

<details>
  <summary>Check the SQL Murder Mystery ERD</summary>
  <img src="https://github.com/freestackinitiative/coop_sql_notebooks/blob/v2/assets/murder_mystery_schema.png?raw=1" alt="ERD for SQL Murder Mystery"/>
</details>

## Beginning your investigation

Start by retrieving the corresponding crime scene report from the police department’s database.

<details>
<summary>Clue #1</summary>
<p>Look at the tables available in the Police Department database. Could the crime scene report be in there?</p>
</details>

<details>
<summary>Clue #2</summary>
<p>The murder occured on January 15, 2018 in SQL City. Perhaps filtering your query with this information can help you find that crime report you're looking for...</p>
</details>

In [4]:
%%sql

-- What table is the crime scene report in?
-- What columns in that table will help you filter out which CSR you need?

SELECT *
FROM crime_scene_report
WHERE DATE = '20180115' and CITY = 'SQL City' and TYPE ='murder'

/*Security footage shows that there were 2 witnesses.
The first witness lives at the last house on "Northwestern Dr".
The second witness, named Annabel, lives somewhere on "Franklin Ave"*/

,date,type,description,city
0,20180115,murder,Security footage shows that there were 2 witnesses. The first witness lives at the last house o...,SQL City

___

## Solving the Mystery (and checking if you cracked the case!)

From here on out, you'll be using your skills and the clues in the Police Department database to find the killer. When you think you have found the killer, come back to this section and use the cell below to check your answer and see if you found the murderer:

ex:
```python
check_suspect("Adam Levine")
```

In [26]:
check_suspect("Miranda Priestly")

Congrats, you found the brains behind the murder!
Everyone in SQL City hails you as the greatest SQL detective of all time.
Time to break out the champagne!

True

---

## Workspace

Use the cells below to write your queries and work on solving the mystery. When you have a suspect, check your answer using the [cell above this one](#solving-the-mystery-and-checking-if-you-cracked-the-case) and running their name through the `check_suspect` function. If you find the murderer, the function will tell you.

Don't forget to use `%%sql` at the top of the `Code` cells you create in order to get your SQL queries to work. Good luck, sleuths!

In [25]:
%%sql

/*
--Crime Scene Report Description

Security footage shows that there were 2 witnesses.
The first witness lives at the last house on "Northwestern Dr".
The second witness, named Annabel, lives somewhere on "Franklin Ave"
*/

/* QUERY that finds first witness
SELECT *
FROM person
WHERE address_street_name = 'Northwestern Dr'
ORDER BY address_number desc;
*/

/*
Witness 1 = Morty Schapiro
id	name	license_id	address_number	address_street_name	ssn
0	14887	Morty Schapiro	118009	4919	Northwestern Dr	111564949
*/

/*
--Query that finds second witness
SELECT *
FROM person
WHERE address_street_name = 'Franklin Ave' and name = 'Annabel Miller';
*/

/*
Witness 2 = Annabel Miller
id	name	license_id	address_number	address_street_name	ssn
0	16371	Annabel Miller	490173	103	Franklin Ave	318771143
*/

/*

QUERY

Query thhat helps us find the transcript from the two witnesses

SELECT name, transcript
FROM person AS P
INNER JOIN interview AS I
ON P.id = I.person_id
WHERE name IN ('Annabel Miller','Morty Schapiro')

*/

/*
OUTPUT

id	name	license_id	address_number	address_street_name	ssn	person_id	transcript
0	14887	Morty Schapiro	118009	4919	Northwestern Dr	111564949	14887	I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag.
                                                                      The membership number on the bag started with "48Z". Only gold members have those bags.
                                                                      The man got into a car with a plate that included "H42W".

1	16371	Annabel Miller	490173	103	Franklin Ave	318771143	16371	I saw the murder happen, and I recognized the killer
                                                                  from my gym when I was working out last week on January the 9th.
*/


/* QUERY -- WHO IS THE KILLER -- id, person_id, name, membership_status, check_in_date
SELECT *
FROM get_fit_now_member AS M
INNER JOIN get_fit_now_check_in AS C
ON M.id = C.membership_id
INNER JOIN person AS P
ON P.id = M.person_id
INNER JOIN drivers_license AS D
ON P.license_id = D.id
WHERE membership_status = 'gold'
      and check_in_date = 20180109
      and membership_id LIKE '48Z%'
*/


---CHALLENGE---

/* QUERY that helps us find the transcript from Jeremy Bowers

SELECT name, transcript
FROM person AS P
INNER JOIN interview AS I
ON P.id = I.person_id
WHERE name = 'Jeremy Bowers'
*/

/* OUTPUT

index	    name	     transcript
0	    Jeremy Bowers	 I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67").
                     She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.
*/

SELECT P.name, count(F.event_id) --- P.name, count(F.event_id)
FROM person AS P
INNER JOIN drivers_license AS D
ON P.license_id = D.id
INNER JOIN facebook_event_checkin AS F
ON P.id = F.person_id
WHERE F.date >= 20171130 AND F.date < 20180101
      AND F.event_name LIKE 'SQL%'
GROUP BY P.name

                 name  count(F.event_id)
0         Tyson Ojard                  1
1         Cheri Kitty                  1
2    Enedina Cassells                  1
3       Jeremy Bowers                  1
4   Sanjuanita Gorius                  1
5    Miranda Priestly                  3
6        Bret Windler                  1
7    Denyse Bloomgren                  2
8    Freida Betschart                  1
9        Odis Manteca                  1
10    Randell Staheli                  1
11      Avery Spieler                  1
12     Enrique Feltes                  1
13       Elmer Rosell                  1
14        Ken Whitted                  1